@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-size: 15px;
  background: url('../../images/bg-bottom.svg') no-repeat;
  background-color: $veryLightGrayishBlue;
  background-position: bottom left;
  min-height: 100vh;
}