@import url("https://fonts.google.com/specimen/Commissioner");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Commissioner', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: rgb(245, 245, 245);
}

