* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  max-width: 1440px;
  font-size: 13px;
  font-weight: 500;
  background: hsl(0, 0%, 81%);
}

p {
  font-weight: 600;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card01 {
  background: hsl(263, 55%, 52%);
  border-radius: 10px;
  width: 900px;
  height: 200px;
}

.card02 {
  background: hsl(217, 19%, 35%);
  border-radius: 10px;
}

.card03 {
  background:hsl(0, 0%, 100%);
  border-radius: 10px;
}

.card04 {
  background:hsl(219, 29%, 14%);
  border-radius: 10px;
}


.card05 {
  background:hsl(0, 0%, 100%);
  border-radius: 10px;
}
